html {
	height: 100%;
	background: url('img/bg_img.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

body {
	height: 97%;
}

table {
	width: 100%;
	height: 100%;
}

#background {
	background: url('img/bg_img_front.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	color: #777777;
	text-align: center;
}

#rightside {
	float: left;
}

#leftside {
	margin-left: 10px;
	vertical-align: text-top;
	margin-top: 0px;
}

#middlesize {
	height: 50%;
	width: 50%;
}

.tablestyle {
	border: 1px solid white;
	border-collapse: separate;
}

.impressum {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
}

.header {
	font-size: 2em;
	color: #777777;
	text-align: left;
}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 12px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #E3E8F3;
}

.gwt-MenuBar-horizontal {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #e0e0e0;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 5px 10px;
	vertical-align: bottom;
	color: #000;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #ccc;
	background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
	width: 1px;
	height: 1px;
	background: white;
}

.gwt-MenuBar-vertical {
	margin-top: 0px;
	margin-left: 0px;
	background: white;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 30px 2px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
	padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
	padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #E3E8F3;
}

.gwt-MenuBarPopup {
	margin: 0px 0px 0px 3px;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -36px;
	-background: url(images/corner_ie6.png) no-repeat 0px -36px;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -36px;
	-background: url(images/corner_ie6.png) no-repeat -5px -36px;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -41px;
	-background: url(images/corner_ie6.png) no-repeat 0px -41px;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -41px;
	-background: url(images/corner_ie6.png) no-repeat -5px -41px;
}

html>body .gwt-MenuBarPopup {
	
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}
/*Info-Panel CSS Style*/
.infopanel {
	margin-left: 70px;
	vertical-align: top;
	height: 100px;
}
/*Content-Panel CSS Style*/
.contentpanel {
	margin-left: 0px;
	vertical-align: top;
	float: left;
}

.componentgroupnameTextBox {
	margin-left: 30px;
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
}